{% extends "../layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="content-section">
    <h1>Register</h1>
    <legend class="border-bottom pb-2 mb-4 text-center">Register Here</legend>
        <form method="post" class="content-section text-center">
             <fieldset>
                {% csrf_token %}
                <div class="form-group text-center">
                    {{ form.username | as_crispy_field}}
                </div>
                <div class="form-group text-center">
                    {{ form.email| as_crispy_field  }}
                </div>
                <div class="form-group text-center">
                    {{ form.password1| as_crispy_field  }}
                </div>
                <div class="form-group text-center">
                    {{ form.password2| as_crispy_field  }}
                </div>
                <div class="form-group text-center">
                <button class="btn btn-primary btn-lg btn-block mt-4" type="submit">Register</button>
                </div>
            </fieldset>
        </form>
        
</div>
{% endblock %}